/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/scss/bootstrap";

div.card-header {
 font-size: large;
}

div.card {
  margin-top: 10px;
  margin-left: 10px;
}

.table {
  margin-top: 10px;
}